@media screen and (max-width: 1200px) {
    .admin-container {
        overflow: auto;
    }

    .dashboard .widget-container,
    .dashboard .graph-container,
    .dashboard .transaction-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .dashboard .graph-container {
        padding: 2rem;
    }

    .dashboard .transaction-container {
        padding: 2rem;
        height: unset;
    }

    .product-management {
        padding: 2rem;
    }
}

@media screen and (max-width: 1100px) {
    .admin-container {
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width: 600px) {
    .product-management {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .product-management>section {
        max-width: 400px;
    }

    .chart-container {
        padding: 0;
    }

    .chart-container>h1 {
        margin: 0;
        text-align: center;
    }

    .chart-container>section {
        margin: 8rem auto;
    }

    .dashboard-app-container>section .coupon-form,
    .dashboard-app-container>section .stopwatch {
        display: flex;
        flex-direction: column;
    }

    .dashboard-app-container>section .stopwatch {
        align-items: center;
    }
}